/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.header {
    text-align: center;
    background-color: navy;
    padding: 10px;
}
.home {
    color: rgb(173, 247, 64);
    text-decoration: none;
    margin: 10px;
}
.blog {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}
h1 {
    font-size: 32px;
    text-align: center;
    margin: 24px 0;
}
h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}
.box {
    width: 200px;
    height: 200px;
    background-color: #99D8CA;
    margin: 50px auto;
    border: 15px solid #5873E2;
    outline: 9px solid #0D1430;
    box-shadow: 0 0 0 25px #90ffa9;
    border-radius: 1px;
}
.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #90ffa9;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 7px;
    
}
.circle-text {
    font-weight: bold;
    margin-right: 50px;
}
.circle-container {
    text-align: center;
    margin: 10px;
}
.one {
    background-color: #99D8CA;
}
.two {
    background-color: #0D1430;
}
.three {
    background-color: #90FFA9;
}
.four {
    background-color: #5873E2;
}
hr {
    width: 675px;
    margin: 40px auto;
    border: 1px black dashed ;
}
.box1 {
    width: 200px;
    height: 180px;
    background-color: rgb(205, 185, 203);
    display: inline-block;
    margin: 10px;
}
.container {
    width: 660px;
    border: 2px solid black;
    margin: 20px auto;
    /* box-sizing: border-box; */
    text-align: center;
    font-size: 0;
}
.second {
    border: 2px solid black;
    box-sizing: border-box;
}
.para {
    width: 400px;
    padding: 10px;
}
.para h3 {
    font-size: 24px;
    font-weight: bold;
}


.blogpage {
    display: flex;
}
.para a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #03c02fe5;
    border: 1px solid rgb(10, 233, 47);
    border-radius: 20px;
    padding: 6px 17px;
}
img {
    width: 400px;
    margin: 10px 10px;
}
.next-blogpage {
    display: flex;
}

.wholebody{
    width: 900px;
    margin: 0 auto;
}
.last-para {
    display: flex;
}
.last-para h3{
    font-size: 24px;
    font-weight: bold;
}
.containertwo {
    width: 400px;
    margin: 10px;
}
.containerthree {
    width: 400px;
    padding: 10px;
}
p {
    margin: 20px 0;
}
.last-para a {
    color: #07e53b;
}

